.header{
    background-color: rgb(204, 201, 201);
}
.title{
    color:rgb(24, 22, 22);
    text-align: center;
    font-size: 50px;
}
/*body*/

body{
    background-color:rgb(248, 248, 193);
}
.titlemain{
    color:rgba(0, 0, 0, 0.76);
    font-size: 30px;
}
.lines{
    font-size: 20px;
    color:rgb(20, 20, 20);
}
.ul{
    color: rgb(248, 0, 0);
}
.flex{
    display: flex;
}
.padd1{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(235, 235, 235);
}
.padd2{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(156, 156, 156);
}
.padd3{
    padding-left: 110px;
}
.padd4{
    padding-left: 105px;

}
.padd5{
    padding-right: 50px;
    padding-left: 50px;
    background-color: slategrey;
}
.footer{
    text-align:center;
    background-color: lightcoral;
    font-size: 20px;
}